<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_cNdijKPv1PpQ8lwM4AjQVtmULkWb_sA</string>
	<key>GCM_SENDER_ID</key>
	<string>741010395469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ClinicBooking</string>
	<key>PROJECT_ID</key>
	<string>clinic-booking-4b0cf</string>
	<key>STORAGE_BUCKET</key>
	<string>clinic-booking-4b0cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741010395469:ios:377605a3f679fc0cb42704</string>
</dict>
</plist>